@charset "utf-8";
html body{
	font-size: 12px;
}
.tree1 {
	border: 1px solid #666;
	width: 240px;
	height: 400px;
	overflow: auto;
}

/* CSS Document */

.node {
	line-height: 32px;
	word-break:keep-all;
	white-space:nowrap;
	padding-left: 12px;
	padding-right: 12px;
}
.child {
	padding-left: 24px;
}
