/*
 *name:dtt
 *time:2014.9.30
 *content:列表页样式
*/



/*列表*/
.left{ width:650px;/*688px;*/ float:left;border-right:1px solid #d6d6d6;background:#fff; border-bottom:1px solid #d6d6d6;}
.box-sig{ padding:8px 5px 8px 10px; border-bottom:1px solid #efefef; width:635px;  overflow:hidden;zoom:1;}
.box-sig li{ height:110px; display:inline-block;}
.sig-l{ float:left; width:435px;}
.sig-l h1{ height:36px; line-height:36px;}
span.til{ float:left;font-weight:700; float:left; font-size:14px;}
span.til a{ color:#333;}
div.xs,div.zr,div.moreLabel,div.xe{display:inline-block;*display:inline;vertical-align:middle;margin:0px 0 0 7px;float:left;font-weight:normal;font-size:11px;height:17px; line-height:17px; padding:0 4px; color:#fff; border-radius:5px;}
div.xs{background:#fa6b0d;}
div.zr{background:#59aa09;}
div.xe{background:#f10000;}
div.moreLabel,div.NBA{background:url(../img/lay-info.png) no-repeat;_background:url(../img/lay-info6.png) no-repeat;}
div.moreLabel{width:34px;color:#ff6006; padding:0 15px 0 5px; background-position:0 -88px;}
span.wth{float:left;line-height:32px; height:32px; overflow:hidden;}
.sig-l em{font-size:14px;font-weight:normal;}
.sig-l i{font-style:normal;font-size: 10px;}
em.cl{ color:#e6653e;}
span.sg01{ width:175px;}
span.sg02{ width:105px;}
span.sg03{ width:155px;}
span.sg04{ width:110px;}
span.sg05{ width:150px;}
span.sg06{ width:170px; padding-left:280px;}
div.NBA{height:17px;width:34px;vertical-align:middle;margin:0px 0 0 7px;float:left;display:inline-block;*display:inline;background-position:0 -56px;}
