.tree {
	font-size: 12px;
	line-height: 24px;
}
.tree .text{
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 16px;
	cursor: default;
	text-align: left;
}
.tree .open .text{
	background-image: url(../../images/tree/basic/open.png);
}
.tree .close .text{
	background-image: url(../../images/tree/basic/close.png);
}
.tree .leaf .text{
	background-image: url(../../images/tree/basic/leaf.png);
}
