body {
	background-color: #d6d6d6;
}
.dwIndex {
	position: absolute;
	top: 0px;
	left: 1px;
	right: 260px;
	background-color: #7f7f7f;
	bottom: 1px;
	z-index: 10;
	border: 1px solid #333333;
	display: box;
	vertical-align: middle;
}
.dwIndex.full {
	position: absolute;
	top: 0px;
	left: 1px;
	right: 0px;
	background-color: #7f7f7f;
	bottom: 1px;
	z-index: 10;
	border: 1px solid #333333;
	display: box;
	vertical-align: middle;
}
.dwIndex.hide {
	display: none;

}
.dwIndex table{
	height: 100%;
	width: 100%;
	vertical-align: middle;

}
.indexContent {
	background-color: #FFFFFF;
	width: 700px;
	margin: auto;
}
.indexContent .top{
	background-color: #4E5A18;
	height: 90px;
	padding-left: 24px;
	padding-top: 12px;
}
.indexContent .top .product_name{
	color: #b8dd38;
	font-size: 48px;
	font-weight: bold;
	line-height: 60px;
}
.indexContent .top .product_name2{
	color: #b7d64d;
	font-size: 14px;
	font-weight: bold;

}
.indexContent .center{
	background-color: #f8f8f8;
	height: 324px;
	border-bottom: 1px solid #ccc;
	padding-top: 12px;
	padding-bottom: 12px;
}
.indexContent .center_left{
	width: 140px;
	padding-left: 20px;
	float: left;
	border-right: 1px solid #ccc;
	height: 100%;
}
.indexContent .guide{
	font-size: 14px;
	font-weight: bold;
	color: #757575;
	line-height: 36px;


}
.indexContent .guide_item{
	font-size: 12px;
	color: #000000;
	line-height: 30px;
	padding-left: 24px;
}
.indexContent .guide_content{
	font-size: 12px;
	color: #000000;
	line-height: 30px;
	padding-left: 12px;
}
.formItem {
	margin-top: 3px;
	padding: 10px;
}
.formItem:hover{
	background-color: #999;
}
.indexContent .keyword{
	color: #FF0000;
}
.indexContent .guide_content:first-letter{
	font-size: 24px;
	line-height: 60px;
	font-weight: bold;
}
.indexContent .center_right{
	width: 460px;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	text-indent: 2em;
}
.indexContent .foot{
	background-color: #eee;
	height: 36px;
	line-height: 36px;
	text-align: right;
	padding-right: 24px;
	color: #757575;
}
