.edit:hover {
	background-color: #dbeafc;
}
.childs .header {
	background-color: #efefef;
	color: #666;
}
.childs .header div{
	color: #666;
}
.childs tr:hover {
	background-color: #dbeafc;
}
.childs .header:hover {
	background-color: #efefef;
}
.active {
	background-color: #b9d8fe;
}
.edit.active{
	background-color: #b9d8fe;
}
.edit.active :hover{
	background-color: #b9d8fe;
}
.focus{
	position:absolute;
	z-index:41;
	width:1px;
	height:1px;
	line-height:1px;
	background-color: #000000;
}
.focus_1 {

}
.focus_2 {

}
.focus_3 {

}
.focus_4 {

}
.noEdit {
	color: #666;
	background-color: #efefef;
}
.noEdit .text{
	color: #666;
	background-color: #efefef;
}
.edit {

}
