@charset "utf-8";
/* CSS Document */

.root .left{
	background-image: url(../../../img/style1/close.jpg);
}
/* CSS Document */

.root .icon{
	background-image: url(../../../img/style1/icon1.png);
}
/* CSS Document */

.root .text{

}
/* CSS Document */

.branch .left{
	background-image: url(../../../img/style1/close_1.png);
}
/* CSS Document */

.branch .icon{
	background-image: url(../../../img/style1/icon_2.png);
}
/* CSS Document */

.branch .text{

}
/* CSS Document */

.branch_last .left{
	background-image: url(../../../img/style1/close_2.png);
}
/* CSS Document */

.branch_last .icon{
	background-image: url(../../../img/style1/icon_2.png);
}
/* CSS Document */

.branch_last .text{

}
.child {
	margin-left: 0px;
	display: block;

}
/* CSS Document */

.leftWrap {
	line-height: 18px;
	word-break:keep-all;
	white-space:nowrap;
	background-repeat: repeat-y;
	background-position: center center;
	width: 20px;
	height: 18px;
}
/* CSS Document */

.wrap_2 {
	background-image: url(../../../img/style1/left_wrap.png);
}
