@charset "utf-8";
/*顶部*/
.top{width:100%;height:45px;position:relative;background:#cda148;}
.we_logo{background:url('../../images/weChat/logo.png') no-repeat top center;background-size:95px 31px;display:inline-block;height:33px;width:106px;}
.top_con{display:inline-block;padding:6px 0px 3px;width:100%;height:45px;box-sizing:border-box;-webkit-box-sizing:border-box;}
a.index_top_btn{color:#fff;font-size:15px;float:right;padding:9px 15px 5px 0px;}
a.account_top_btn{color:#fff;font-size:15px;float:right;padding:9px 15px 5px 0px;}
.top_title{color:#fff;font-size:14px;border-left:2px #fff solid;height:14px;line-height:14px;padding-left:5px;position:absolute;top:16px;left:105px;}
.top_btn{display:none;}
/* 顶部 */
.foot{width:100%;max-width:640px;margin:0px auto;height:48px;border-top:1px #d0d0d0 solid;background-color:#f4f4f4;position:fixed;bottom:0px;}
.foot_nav_list{display:block;padding:5px 0px 6px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.foot_nav{width:24%;display:inline-block;text-align:center;}
.foot_nav a{width:50px;padding-top:25px;color:#666;font-size:12px;}
a.nav_index_cur{background:url('../../images/weChat/index_cur.png') no-repeat 12px 1px;background-size:25px 22px;color:#cda148;}
a.nav_invest_cur{background:url('../../images/weChat/invest_cur.png') no-repeat 13px 4px;background-size:25px 17px;color:#cda148;}
a.nav_account_cur{background:url('../../images/weChat/account_cur.png') no-repeat 12px 2px;background-size:21px 21px;color:#cda148;}
a.nav_about_cur{background:url('../../images/weChat/about_cur.png') no-repeat 11px 2px;background-size:27px 20px;color:#cda148;}

.nav_index{background:url('../../images/weChat/index.png') no-repeat 12px 1px;background-size:25px 22px;}
.nav_invest{background:url('../../images/weChat/invest.png') no-repeat 13px 4px;background-size:25px 17px;}
.nav_account{background:url('../../images/weChat/account.png') no-repeat 12px 2px;background-size:21px 21px;}
.nav_about{background:url('../../images/weChat/about.png') no-repeat 11px 2px;background-size:27px 20px;}