/* CSS Document */
.top_btn{
	display:inline-block!important;
}
.input_tel~label i{
	font-style:normal;
	color:#F00;
}
.ipt_area{
	margin:20px 0px;
}
.ref_area{
	padding-left:0px!important;
	padding-right:100px;
}
.img_code{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 96px;
	padding-top: 3px;
	height: 40px;
	padding-bottom: 1px;
	overflow: hidden;
	background-color: #edece9;
}