<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>表单编辑器</title>
<link rel="stylesheet" type="text/css" href="../css/11base.css"/>
<link rel="stylesheet" type="text/css" href="../css/13cmd.css"/>
<link rel="stylesheet" type="text/css" href="../css/23form.css"/>
<link rel="stylesheet" type="text/css" href="../../../src/css/29tree.css"/>
<link rel="stylesheet" type="text/css" href="../css/dw.css"/>
<link rel="stylesheet" type="text/css" href="../css/dw_index.css"/>
<link rel="stylesheet" type="text/css" href="../css/right_file.css"/>
</head>
<body>
<div id="dwIndex" class="dwIndex">
  <table cellpadding="0" cellspacing="0">
    <tr>
      <td><div class="indexContent">
          <div class="top">
            <div class="product_name">Form Designer</div>
            <div class="product_name2">快速表单设计器</div>
          </div>
          <div class="center">
            <div class="center_left">
              <div class="guide">- 主要功能</div>
              <div class="guide_item">表单定义</div>
              <div class="guide_item">布局元素</div>
              <div class="guide_item">操作按钮</div>
              <div class="guide_item">自定义事件</div>
              <div class="guide_item">运行调试</div>
              <div class="guide">+ 入门示例</div>
              <div class="guide">+ 使用帮助</div>
              <div class="guide">+ 联系我们</div>
            </div>
            <div class="center_right">
              <div class="guide_content">Form Designer 是三峡高科快速开发平台项目组开发的一款面向一般开发人员的表单设计工具。能够快速实现表单的设计，支持多种布局元素，包括隐藏对象、标签、文本框、日期、值列表、图像、单选框、复选框、子表格等，允许开发人员自定义事件实现输入校验，数据联动等效果；并支持在线运行调试功能。</div>
            </div>
          </div>
          <div class="foot">三峡高科信息技术有限责任公司 版权所有</div>
        </div></td>
    </tr>
  </table>
</div>
<div id="dwMain" class="dwMain">
  <div id="pageTabs" class="pageTabs"> </div>
  <div id="subPages" class="subPages">
    <div class="active">源代码</div>
    <span class="btn preview" id="preview">预览</span> <span class="btn format" id="format">格式化</span> </div>
  <div id="editors" class="editors"> </div>
</div>
<div id="dwRight" class="dwRight">
  <div class="rightTop"><!--用户收缩-->
    <div class="rightHide"></div>
  </div>
  <div class="pageTabs"><!--用于导航-->
    <div  class="active">所有表单</div>
    <div>布局</div>
    <div>按钮</div>
    <div>事件</div>
  </div>
  <div class="rightContent tabContent">
    <div class="tab active forms">
      <div class="forms_cmd"></div>
      <div class="forms_list tree">
        <div class="root open">
          <div class="tag">所有表单-风电资产管理系统</div>
          <div class="childs">
            <div class="leaf file normal close">
              <div class="tag">人员新增</div>
              <div class="childs"></div>
            </div>
            <div class="leaf file normal close">
              <div class="tag">账户新增</div>
              <div class="childs"></div>
            </div>
            <div class="leaf file normal close">
              <div class="tag">组织机构新增</div>
              <div class="childs"></div>
            </div>
            <div class="leaf file normal close">
              <div class="tag">角色新增</div>
              <div class="childs"></div>
            </div>
            <div class="leaf file normal close">
              <div class="tag">方法新增</div>
              <div class="childs"></div>
            </div>
            <div class="leaf file normal close">
              <div class="tag">设备新增</div>
              <div class="childs"></div>
            </div>
            <div class="leaf file normal close">
              <div class="tag">工作票</div>
              <div class="childs"></div>
            </div>
            <div class="leaf file normal close">
              <div class="tag">操作票</div>
              <div class="childs"></div>
            </div>
            <div class="leaf file last close">
              <div class="tag">运行日志</div>
              <div class="childs"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="forms_edit">
        <div  class="title">"用户表单"的所有属性</div>
        <table cellpadding="0" cellspacing="0" class="form_propertys" border="1">
          <tr>
            <td>name</td>
            <td>form1</td>
          </tr>
          <tr>
            <td>cname</td>
            <td>新增表单</td>
          </tr>
          <tr>
            <td>type</td>
            <td>add</td>
          </tr>
          <tr>
            <td>des</td>
            <td>用于新增表单</td>
          </tr>
          <tr>
            <td>paper</td>
            <td>a4</td>
          </tr>
          <tr>
            <td>layout</td>
            <td>horizen</td>
          </tr>
          <tr>
            <td>title</td>
            <td>新增表单</td>
          </tr>
          <tr>
            <td>cname</td>
            <td>新增表单</td>
          </tr>
          <tr>
            <td>cname</td>
            <td>新增表单</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>
