.table {
	font-size: 12px;
}
.table .desc:hover{
	background-image: url(../../images/table/desc.png);
	background-repeat: no-repeat;
	background-position: 1px center;

}
.table .asc:hover{
	background-image: url(../../images/table/asc.png);
	background-repeat: no-repeat;
	background-position: 1px center;

}
.table .cell{
	height: 26px;
	overflow: hidden;
}
.table table{
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}
.table .filter {

	display: none;
}
.table .query{
	margin: 0;
	padding: 0;
	border: 0;
	height: 18px;
	line-height: 18px;
	background-color: transparent;
	margin-top: 6px;
	margin-bottom: 6px;
	width: 100%;
	text-align: center;
	display: block;
	color: #006;
}
.table .header {
	line-height: 32px;
	background-color: #d6d6d6;
	text-align: center;
	height: 32px;
	cursor: default;
}
.table .pager{
	display: none;
}
.table .pagerDiv{
	display: block;
}
.table .pagerInfo{
	float: left;
}
.table .pagerBtn{
	float: right;
	cursor: default;
}
.table .pagerPre{
	padding-right: 12px;
	cursor: pointer;
	background-color: #D6D6D6;
}
.table .pagerNext{
	padding-right: 12px;
	cursor: pointer;
}
.table.filterMode .filter{
	display: table-row;
	background-color: #d6d6d6;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 12px;
}
.table.pageMode .pager{
	display: table-row;
	background-color: #F00;
	height: 26px;
	line-height: 26px;
	background-color: #D6D6D6;
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	width: 100%;
}
.table td {
	border-right:1px solid #666;
	border-bottom:1px solid #666;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 26px;
	height: 26px;
}
.table .row td{
	line-height: 26px;
	padding-left: 10px;
	padding-right: 10px;
}
.table .row:hover{
	background-color: #EAEAEA;
}
