/* CSS Document        */

.button{
	line-height: 24px;
	text-align: center;
	font-weight: normal;
	font-size:12px;
	color: #fff;
	text-shadow:1px 1px 1px #333;
	border-radius: 5px;
	margin:0 20px 20px 0;
	padding:0 12px 0px 12px;
	overflow: hidden;
}
.button.gray{
	color: #666;
	text-shadow:2px 2px 1px #bcbcbc;
	border:1px solid #ccc;
	box-shadow: inset 0px 1px 2px #fff,0 -2px 0 #a8abae inset;
	background: -webkit-linear-gradient(top,#f2f3f7,#e4e8ec);
	background: -moz-linear-gradient(top,#f2f3f7,#e4e8ec);
	background: linear-gradient(to bottom,#f2f3f7,#e4e8ec);
}
.button.black{
	border:1px solid #333;
	box-shadow: 0 1px 2px #8b8b8b inset,0 -1px 0 #3d3d3d inset,0 -2px 3px #8b8b8b inset;
	background: -webkit-linear-gradient(top,#656565,#4c4c4c);
	background: -moz-linear-gradient(top,#656565,#4a4a4a);
	background: linear-gradient(to bottom,#656565,#4c4c4c);
}
.button.red{
  border:1px solid #b42323;
  box-shadow: 0 1px 2px #e99494 inset,0 -1px 0 #954b4b inset,0 -2px 3px #e99494 inset;
  background: -webkit-linear-gradient(top,#d53939,#b92929);
  background: -moz-linear-gradient(top,#d53939,#b92929);
  background: linear-gradient(to bottom,#d53939,#b92929);
}
.button.yellow{
  border:1px solid #d2a000;
  box-shadow: 0 1px 2px #fedd71 inset,0 -1px 0 #a38b39 inset,0 -2px 3px #fedd71 inset;
  background: -webkit-linear-gradient(top,#fece34,#d8a605);
  background: -moz-linear-gradient(top,#fece34,#d8a605);
  background: linear-gradient(to bottom,#fece34,#d8a605);
}
.button.green{
  border:1px solid #64c878;
  box-shadow: 0 1px 2px #b9ecc4 inset,0 -1px 0 #6c9f76 inset,0 -2px 3px #b9ecc4 inset;
  background: -webkit-linear-gradient(top,#90dfa2,#84d494);
  background: -moz-linear-gradient(top,#90dfa2,#84d494);
  background: linear-gradient(to bottom,#90dfa2,#84d494);
}
.button.blue{
  border:1px solid #1e7db9;
  box-shadow: 0 1px 2px #8fcaee inset,0 -1px 0 #497897 inset,0 -2px 3px #8fcaee inset;
  background: -webkit-linear-gradient(top,#42a4e0,#2e88c0);
  background: -moz-linear-gradient(top,#42a4e0,#2e88c0);
  background: linear-gradient(to bottom,#42a4e0,#2e88c0);
}
.button.gray:hover{
  background: -webkit-linear-gradient(top,#eeeeee,#dddddd);
  background: -moz-linear-gradient(top,#eeeeee,#dddddd);
  background: linear-gradient(to bottom,#eeeeee,#dddddd);
}
.button.black:hover{
  background: -webkit-linear-gradient(top,#818181,#575757);
  background: -moz-linear-gradient(top,#818181,#575757);
  background: linear-gradient(to bottom,#818181,#575757);
}
.button.red:hover{
  background: -webkit-linear-gradient(top,#eb6f6f,#c83c3c);
  background: -moz-linear-gradient(top,#eb6f6f,#c83c3c);
  background: linear-gradient(to bottom,#eb6f6f,#c83c3c);
}
.button.yellow:hover{
  background: -webkit-linear-gradient(top,#ffd859,#e3bb38);
  background: -moz-linear-gradient(top,#ffd859,#e3bb38);
  background: linear-gradient(to bottom,#ffd859,#e3bb38);
}
.button.green:hover{
  background: -webkit-linear-gradient(top,#aaebb9,#82d392);
  background: -moz-linear-gradient(top,#aaebb9,#82d392);
  background: linear-gradient(to bottom,#aaebb9,#82d392);
}
.button.blue:hover{
  background: -webkit-linear-gradient(top,#70bfef,#4097ce);
  background: -moz-linear-gradient(top,#70bfef,#4097ce);
  background: linear-gradient(to bottom,#70bfef,#4097ce);
}
.button.gray:active{
  top:1px;
  box-shadow: 0 1px 3px #a8abae inset,0 3px 0 #fff;
  background: -webkit-linear-gradient(top,#e4e8ec,#e4e8ec);
  background: -moz-linear-gradient(top,#e4e8ec,#e4e8ec);
  background: linear-gradient(to bottom,#e4e8ec,#e4e8ec);
}
.button.black:active{
  top:1px;
  box-shadow: 0 1px 3px #111 inset,0 3px 0 #fff;
  background: -webkit-linear-gradient(top,#424242,#575757);
  background: -moz-linear-gradient(top,#424242,#575757);
  background: linear-gradient(to bottom,#424242,#575757);
}
.button.red:active{
  top:1px;
  box-shadow: 0 1px 3px #5b0505 inset,0 3px 0 #fff;
  background: -webkit-linear-gradient(top,#b11a1a,#bf2626);
  background: -moz-linear-gradient(top,#b11a1a,#bf2626);
  background: linear-gradient(to bottom,#b11a1a,#bf2626);
}
.button.yellow:active{
  top:1px;
  box-shadow: 0 1px 3px #816b1f inset,0 3px 0 #fff;
  background: -webkit-linear-gradient(top,#d3a203,#dba907);
  background: -moz-linear-gradient(top,#d3a203,#dba907);
  background: linear-gradient(to bottom,#d3a203,#dba907);
}
.button.green:active{
  top:1px;
  box-shadow: 0 1px 3px #4d7254 inset,0 3px 0 #fff;
  background: -webkit-linear-gradient(top,#5eac6e,#72b37e);
  background: -moz-linear-gradient(top,#5eac6e,#72b37e);
  background: linear-gradient(to bottom,#5eac6e,#72b37e);
}
.button.blue:active{
  top:1px;
  box-shadow: 0 1px 3px #114566 inset,0 3px 0 #fff;
  background: -webkit-linear-gradient(top,#1a71a8,#1976b1);
  background: -moz-linear-gradient(top,#1a71a8,#1976b1);
  background: linear-gradient(to bottom,#1a71a8,#1976b1);
}
