<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>网站顶部</title>
	<!-- 线上reset基础样式 -->
    <link rel="stylesheet" type="text/css" href="../reset/reset.css">
	<!-- 顶部样式 -->
	<link rel="stylesheet" href="css/style.css">

    <script type="text/javascript" src="http://www.xiaoniu88.com/script/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/demo.js"></script>
</head>
<body>
<div class="xn_honor">
	<div class="xn_honor_title"></div>
    <div class="xn_honor_1"><span>深圳市电子商务协会<br>副会长单位</span></div>
    <div class="xn_honor_2"><span>2013-2014年荣获中国年度<br>"卓越互联网金融机构"<br>称号</span></div>
    <div class="xn_honor_3"><span>荣获商务部和国资委<br>行业信用评价优良<br>信用等级AA</span></div>
</div>
</body>
</html>