/* CSS Document */
.header {
	position: relative;
	width: 100%;
	min-width: 980px;
	background-color: #fff;
	z-index: 2;
}
.head_content {
	position: relative;
	width: 980px;
	margin: auto;
	height: 87px;
	z-index: 2;
}
.header .logo {
	position: absolute;
	left: 0px;
	top: 13px;
	background: url(../../../../style/images/indexNew/logo.png) no-repeat center left;
	display: inline-block;
	width: 386px;
	height: 60px;
}
.header .register {
	position: absolute;
	right: 0px;
	top: 58px;/*容器479  高度居中*/
	width: 353px;
	height: 371px;
	background: url(../../../../images/xn_register/reg_bg.png) no-repeat 0px -2px;
	z-index: 2;
}
.ban {
	width: 100%;
	min-width: 980px;
	height: 300px;
	z-index: 1;
}
.total {
	width: 100%;
	min-width: 980px;
	background: #f3f3f3;
	padding-top: 22px;
	padding-bottom: 34px;
}
.total_content {
	position: relative;
	width: 978px;
	margin: auto;
	height: 92px;
	background: #fef8e8;
	border: #e1e0e0 1px solid;
}
.total_content li {
	float: left;
}
.total_content li p {
	color: #7d7d7d;
	font-size: 14px;
}
.total_content li p span {
	font-size: 28px;
	font-weight: normal;
}
.border {
	height: 48px;
	border-right: #c8c8c8 solid 2px;
	margin-top: 15px;
}
.ljcj {
	width: 140px;
	height: 58px;
	padding: 10px 38px 19px 64px;
}
.ljcj span {
	color: #f3331c;
}
.aqsy {
	width: 150px;
	height: 58px;
	padding: 10px 28px 19px 42px;
}
.aqsy span {
	color: #00b0ec;
}
.wdyy {
	width: 85px;
	height: 58px;
	padding: 10px 70px 19px 48px;
}
.wdyy span {
	color: #13b572;
}
.notes {
	color: #7d7d7d;
	font-size: 12px;
	position: absolute;
	bottom: 5px;
	left: 28px;
}
/*.hotline {
	width: 305px;
	height: 94px;
	background: url(../../../css/images/google/google_icon.png) no-repeat -8px -138px;
left;
	position: absolute;
	top: -1px;
	right: -1px;
	border-left: #a56e07 5px solid;
}*/
.tel_icon {
	position: absolute;
	width: 39px;
	height: 39px;
	background: url(../../../../style/images/google/google_icon.png) no-repeat -485px -81px;
	top: 12px;
	left: 44px;
}
.tel_text {
	position: absolute;
	width: 182px;
	height: 40px;
	line-height: 20px;
	color: #a56e07;
	font-size: 11px;
	top: 9px;
	left: 96px;
}
.tel_text span {
	font-size: 22px;
}
.work_time {
	position: relative;
	width: 241px;
	height: 32px;
	background: url(../../../../style/images/google/google_icon.png) no-repeat -273px -13px;
	top: 55px;
	left: 33px;
}
#qqId {
	position: absolute;
	top: 5px;
	left: 14px;
}
.intro {
	width: 100%;
	min-width: 980px;
	background-color: #fff;
}
.intro_content {
	position: relative;
	width: 980px;
	margin: auto;
	height: 854px;
}
.list_icon {
	width: 82px;
	height: 62px;
	background: url(../../../../style/images/google/google_icon.png) no-repeat -341px -139px;
	margin: 0px auto;
	color: #fff;
	font-size: 33px;
	font-weight: 700;
	text-align: center;
}
.list_head {
	position: relative;
	width: 840px;
	height: 69px;
	color: #464646;
	font-size: 42px;
	text-align: center;
	margin: 25px auto 5px;
}
.list_left {
	position: absolute;
	top: 22px;
	left: -15px;
	width: 260px;
	height: 12px;
	background: url(../../../../style/images/google/google_icon.png) no-repeat -5px -33px;
}
.list_right {
	position: absolute;
	top: 22px;
	right: -15px;
	width: 260px;
	height: 12px;
	background: url(../../../../style/images/google/google_icon.png) no-repeat -4px -3px;
}
.intro_text {
	margin: 10px auto;
	color: #6d6d6d;
	font-size: 16px;
	width: 780px;
	text-align: center;
}
.intro_img {
	width: 820px;
	margin: 35px auto 0px;
	display: block;
}
.intro li {
	float : left;
	width: 294px;
	height: 135px;
	margin-right: 26px;
	position: relative;
}
.intro ul {
	margin: 40px auto 0px;
	width: 934px;
}
.intro li.first {
	background: #f2ebda url(../../../../style/images/google/icon1.png) no-repeat 20px 25px;
}
.intro li.second {
	background: #d9e5ef url(../../../../style/images/google/icon2.png) no-repeat 22px 25px;
}
.intro li.third {
	background: #f2ebda url(../../../../style/images/google/icon3.png) no-repeat 26px 22px;
	;
	margin-right: 0px;
}
.intro ul h2 {
	font-size: 24px;
	color: #215882;
	font-weight: 700;
	padding-bottom: 8px;
}
.intro ul p {
	font-size: 12px;
	color: #666;
}
.intro ul p span {
	font-size: 14px;
	color: #ec6f16;
}
.intro_icon_text {
	width: 165px;
	height: 86px;
	position: absolute;
	top: 22px;
	left: 116px;
}
.product {
	width: 100%;
	min-width: 980px;
	background-color: #f3f3f3;
}
.product_content {
	position: relative;
	width: 980px;
	margin: auto;
	height: 1355px;
}
.list_head2 {
	width: 900px;
}
.product li {
	float: left;
	width: 475px;
	height: 1084px;
	background: #eaeaea;
}
.product_head {
	height: 112px;
	width: 100%;
	position: relative;
}
.product_head_left {
	background: #48c27f url(../../../../style/images/google/pdt_left.png) no-repeat 111px 14px;
}
.product_head_right {
	background: #5a9acb url(../../../../style/images/google/pdt_right.png) no-repeat 128px 25px;
}
.product_head_text {
	width: 166px;
	position: absolute;
	top: 12px;
	left: 212px;
}
.product_head_text h2 {
	font-size: 47px;
	color: #fff;
}
.product_head_text p {
	font-size: 16px;
	color: #fff;
}
.product_cont_top {
	width: 100%;
	height: 180px;
	border-bottom: 2px #b3b3b3 dashed;
}
.product_cont_top p {
	width: 392px;
	color: #6d6d6d;
	font-size: 16px;
	margin: 26px auto;
	line-height: 28px;
}
.product_cont_bottom {
	width: 100%;
	height: 572px;
}
.product_cont_bottom p {
	color: #6d6d6d;
	font-size: 16px;
	width: 100px;
	padding-top: 20px;
	padding-left: 45px;
}
.product_cont_left {
	background: #eaeaea url(../../../../style/images/google/pdt1.png) no-repeat 75px 72px;
}
.product_cont_right {
	background: #eaeaea url(../../../../style/images/google/pdt2.png) no-repeat 75px 72px;
}
.product_bottom {
	width: 100%;
	height: 219px;
}
.product_bottom p {
	color: #6d6d6d;
	font-size: 16px;
	width: 100px;
	padding-top: 17px;
	padding-left: 47px;
}
.product_bottom_left {
	background: #d2e9dc url(../../../../style/images/google/pdt3.png) no-repeat 45px 12px;
}
.product_bottom_right {
	background: #d6e1ea url(../../../../style/images/google/pdt4.png) no-repeat 53px 22px;
}
.product_left {
	margin-right: 30px;
}
.step {
	width: 100%;
	min-width: 980px;
	background-color: #fff;
}
.step_content {
	position: relative;
	width: 980px;
	margin: auto;
	height: 588px;
}
.list_head3 {
	width: 724px;
}
.step_detail {
	width: 883px;
	height: 376px;
	background: url(../../../../style/images/google/step.png) no-repeat 0px 55px;
	margin: auto;
}
.step_detail p {
	color: #6d6d6d;
	font-size: 28px;
}
.step_licaishi {
	border-top: #e4ce9f solid 3px;
	border-bottom: #e4ce9f solid 3px;
	margin-top: 146px;
	height: 48px;
	line-height: 48px;
	text-align: center;
}
.step_licaishi p {
	color: #6d6d6d;
	font-size: 21px;
}
.step_licaishi a {
	color: #ec9916;
}
.reg_btn {
	width: 215px;
	height: 56px;
	line-height: 56px;
	text-align: center;
	display: block;
	background: url(../../../../style/images/google/google_icon.png) no-repeat -5px -73px;
	margin: 47px auto 0px;
	font-size: 26px;
	color: #fff;
	cursor: pointer;
}
.activity {
	width: 100%;
	min-width: 980px;
	background-color: #f3f3f3;
	display: none;
}
.activity_content {
	position: relative;
	width: 980px;
	margin: auto;
	height: 848px;
}
.foot_bottom {
	width: 100%;
	min-width: 980px;
	background: #aaaaaa;
}
.foot_bottom .foot_bottom_content {
	width: 980px;
	margin: 0 auto;
	height: 142px;
}
.foot_bottom .foot_bottom_content {
	font-size: 12px;
	margin: 0 auto;
	text-align: center;
	color: #6c6c6d;
	height: 50px;
	padding: 20px 0px 10px;
}
.foot_link {
	width: 580px;
	margin: 0px auto 5px;
}
.foot_link a {
	display: inline-block;
	height: 39px;
	margin-right: 4px;
}
.foot_link a.link01 {
	background: url(../../../../css/images/indexNew/foot_link.png) no-repeat 0 -39px;
	width: 107px;
}
.foot_link a.link02 {
	background: url(../../../../css/images/indexNew/foot_link.png) no-repeat -116px -39px;
	width: 107px;
}
.foot_link a.link03 {
	background: url(../../../../css/images/indexNew/foot_link.png) no-repeat -232px -39px;
	width: 107px;
}
.foot_link a.link04 {
	background: url(../../../../css/images/indexNew/foot_link.png) no-repeat -347px -39px;
	width: 107px;
}
.foot_link a.link05 {
	background: url(../../../../css/images/indexNew/foot_link.png) no-repeat -463px -39px;
	width: 107px;
}
.foot_link a.link1 {
	background: url(../../../../css/images/indexNew/foot_link.png) no-repeat 0 0px;
	width: 107px;
}
.foot_link a.link2 {
	background: url(../../../../css/images/indexNew/foot_link.png) no-repeat -116px 0;
	width: 107px;
}
.foot_link a.link3 {
	background: url(../../../../css/images/indexNew/foot_link.png) no-repeat -232px 0;
	width: 107px;
}
.foot_link a.link4 {
	background: url(../../../../css/images/indexNew/foot_link.png) no-repeat -347px 0;
	width: 107px;
}
.foot_link a.link5 {
	background: url(../../../../css/images/indexNew/foot_link.png) no-repeat -463px 0;
	width: 107px;
}
.foot_link a.link06 {
	background: url(../../../../css/images/indexNew/foot_link.png) no-repeat -555px 0;
	width: 107px;
}
#focus {
	position: relative;
	width: 100%;
	height: 300px;
	overflow: hidden;
	margin: 0 auto;
	z-index: 1;
}
#focus .banner {
	height: 336px;
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	background: #fff;
	z-index: 1;
}
#focus .banner li {
	height: 300px;
	overflow: hidden;
	position: absolute;
	background: #000;
	width: 100%;
	margin: 0 auto;
	opacity: 0;
	z-index: 0;
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
#focus .banner li:first-child {
	display: block;
	opacity: 1;
	z-index: 1;
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1);
}
#focus .banner li a {
	display: block;
	height: 300px;
	width: 100%;
}
#focus .btn {
	position: relative;
	height: 12px;
	bottom: 8px;
	margin: 0 auto;
	width: 100%;
	top: 280px;
*top:270px;
	z-index: 1000;
}
#focus .btn ul {
	position: relative;
	width: 100%;
	text-align: center;
}
#focus .btn li {
	cursor: pointer;
	height: 12px;
	margin-left: 5px;
	width: 12px;
	display: inline;
}
#focus .btn a {
	background: url("../../../../style/images/curtter_out.png") no-repeat scroll 0 0 transparent;
	height: 12px;
	width: 12px;
	cursor: pointer;
	display: inline-block;
}
#focus .btn .on {
	background: url("../../../../style/images/curtter_on.png") no-repeat scroll 0 0 transparent;
}
.regster_title {
	width: 291px;
	margin: 13px 22px 5px 23px;
	border-bottom: 3px solid #c2a474;
	padding-bottom: 5px;
	color: #6f6f6f;
	position: relative;
}
.regster_title h2 {
	font-size: 22px;
	font-weight: 600;
}
.login {
	position: absolute;
	top: 15px;
	right: 5px;
	font-size: 12px;
}
.login a {
	color: #f46519
}
.pageform table {
	width: 310px;
	margin: 5px auto;
	position: relative;
}
.pageform table tr {
	height: 40px;
}
.pageform table tr .first {
	width: 60px;
	text-align: right;
	padding-right: 10px;
	font-size: 12px;
	color: #6f6f6f;
}
.pageform table input {
	height: 25px;
	width: 200px;
	padding-left: 5px;
	line-height: 25px\9;
}
.pageform table input.vilidataNum {
	width: 75px;
	display: inline-block;
*display: inline;
*zoom: 1;
	margin-right: 10px;
}
.getCode {
	display: inline-block;
*display: inline;
*zoom: 1;
	width: 90px;
	height: 30px;
+height:35px;
	line-height: 30px;
	text-align: center;
	background: url(../../../../style/images/google/google_icon.png) no-repeat -335px -203px;
}
.getCode a {
	font-size: 12px;
	color: #fff;
}
.loginBtn {
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	text-align: center;
	font-size: 20px;
	color: #fff;
	background: url(../../../../style/images/google/google_icon.png) no-repeat -300px -78px;
	width: 166px;
	height: 46px;
	line-height: 46px;
	display: inline-block;
*display: inline;
*zoom: 1;
display:block;
}
.qq {
	color: #6f6f6f;
	font-size: 12px;
	border-bottom: 2px solid #90866e;
	padding-bottom: 2px;
}
.tip {
	display: none;
	position: absolute;
	left: -268px;
	width: 280px;
	height: 45px;
	font-size: 12px;
	color: #666;
}
.usernameTip {
	top: -1px;
}
.passwordTip {
	top: 43px;
	position: absolute;
	background: url(../../../../style/images/google/tips.png) no-repeat 0px 0px;
}
#passwordTip {
	height: 100%;
}
.confirmpwdTip {
	top: 87px;
}
.mobileTip {
	top: 131px;
	background: url(../../../../style/images/google/tips.png) no-repeat 0px 0px;
}
#mobileTip {
	height: 100%;
}
.vilidataNumTip {
	top: 175px;
}
#pageform .onFocus {
	width: 280px;
	height: 45px;
	background: url(../../../../style/images/google/tips.png) no-repeat 0px 0px;
}
#pageform .onError {
	width: 280px;
	height: 45px;
	background: url(../../../../style/images/google/tips.png) no-repeat 0px 0px;
}
#pageform .onLoad {
	width: 280px;
	height: 45px;
	background: url(../../../../style/images/google/tips.png) no-repeat 0px 0px;
}
.onError_ {
	position: absolute;
	top: 9px;
	left: 0px;
}
.tipText {
	width: 250px;
	line-height: 22px;
	padding-top: 10px;
	position: absolute;
	left: 0px;
	padding-left: 23px;
}
.tipLongText {
	width: 240px;
	line-height: 20px;
	padding-top: 3px;
	position: absolute;
	left: 0px;
	padding-left: 23px;
}
.foot_top {
	width: 100%;
	min-width: 980px;
	background: #dcdada;
}
.foot_top_content {
	width: 980px;
	margin: 0 auto;
	height: 86px;
	color: #686767;
	font-size: 12px;
	text-align: center;
}
.foot_top_content ul {
	margin: 20px auto 2px;
	width: 450px;
	display: inline-block;
*display:inline;
	zoom: 1;
}
.foot_top_content li {
	float: left;
	padding: 2px 2px 0px;
}
.foot_top_content li a {
	color: #686767
}
.foot_top_content li a:hover {
	color: #ff0000
}
.clear {
	clear: both
}
.msg {
	width: 230px;
	line-height: 20px;
	padding-left: 23px;
	padding-top: 3px;
}
.shortMsg {
	padding-top: 11px;
}

.msg {
	width: 230px;
	line-height: 20px;
	padding-left: 23px;
	padding-top: 3px;
}
.shortMsg {
	padding-top: 11px;
}


.correct {
	width: 17px;
	height: 17px;
	background: url(../../../../style/plugins/formvalidator/themes/Default/images/onCorrect.png) no-repeat -3px 9px;
	display: none;
}
.onErrorLong_ {
	position: absolute;
	top: 2px;
	left: 0px;
}
.rightTips {
	bottom: 10px;
	position: fixed;
	left: 50%;
	margin: 0 0 0 500px;
	z-index: 9999;
}
.rightTipAuto {
	left: auto;
	right: 10px;
}
.rightTips a {
	clear: both;
	color: #9C9C9C;
	display: block;
	float: left;
	font-size: 16px;
	height: 53px;
	overflow: hidden;
	text-align: center;
	width: 53px;
	margin: 13px 0 0 0;
	cursor: pointer;
}
.rightTips .go_top {
	background: url(../../../../style/images/index3_09.png) no-repeat 0 -122px;
	visibility: hidden;
}
.rightTips .go_top:hover {
	background: url(../../../../style/images/index3_09.png) no-repeat -60px -122px;
}
.rightTips_fix_ie6 a {
	bottom: 10px;
}
.rightTips .calculator {
	background: url(../../../../style/images/index3_09.png) no-repeat 0 0;
}
.rightTips .calculator:hover {
	background: url(../../../../style/images/index3_09.png) no-repeat -60px 0;
}



.header{
	background-image:url(../../../../images/xn_register/register_banner_bg_low.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	height:482px;
}
.head_content{
	background-image:url(../../../../images/xn_register/register_banner_bg2_930.jpg);
	background-position:center left;
	background-repeat:no-repeat;
	height:100%;
	width:930px;
	margin:auto;
}
